@keyframes rotation {
	0% {
		transform: rotate3d(10, 0, 0, 0deg) translateY(3px);
	}

	20% {
		transform: rotate3d(10, 0, 0, 0deg) translateY(3px);
	}

	40% {
		transform: rotate3d(10, 0, 0, 0deg) translateY(3px);
	}

	60% {
		transform: rotate3d(0, 10, 0, 180deg) translateY(3px);
	}

	80% {
		transform: rotate3d(10, 0, 0, 0deg) translateY(3px);
	}

	100% {
		transform: rotate3d(10, 0, 0, 0deg) translateY(3px);
	}
}

.footer {
	background: #F7F7F7 url(../img/noise.png);
}

.footer__overlay {
	padding: 30px 0;
	background: rgba(247, 247, 247, 0.97);
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.footer__container {
	max-width: 1240px;
}

.footer__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer__column {
	max-width: 290px;
	margin: 0 20px;

	ul {
		@include ul;
		margin-top: 12px;
	}

	.link {
		display: block;
		margin-bottom: 16px;
	}
}

.footer__column--2 {

	p:first-child {
		line-height: 21px;
	}
}

.footer__column--4 {
	margin-left: auto;
	text-align: right;
}

.footer__contact-line {
	position: relative;
	display: flex;
	justify-content: flex-end;
	margin-top: 14px;
	margin-bottom: 10px;
}

.footer__tel-stationary {
	margin-left: 25px;
}

.footer__more-tel-btn {
	margin-left: 7px;
	padding: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	border: 0;
	cursor: pointer;

	img {
		transition: transform .25s;
	}

	&:hover img,
	&:focus img {
		transform: rotate(180deg);
	}

	&:focus {
		outline: none;
	}

	&:hover + .footer__tel-list,
	&:focus + .footer__tel-list {
		transform: scale(1);
	}
}

.footer__column .footer__tel-list {
	position: absolute;
	z-index: 2;
	top: -200px;
	right: -15px;
	width: 220px;
	padding: 25px 30px;
	background-color: #fff;
	box-shadow: 0 0 20px #ccc;
	transform: scale(0);
	transition: transform .25s;
	transition-delay: .2s;

	&::before {
		content: '';
		position: absolute;
		bottom: -10px;
		right: 15px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #fff transparent transparent transparent;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: -20px;
		height: 22px;
	}

	&:hover {
		transform: scale(1);
	}
}

.footer__tel-link {
	display: block;
	position: relative;
	padding-left: 36px;
	color: inherit;
	font-size: 16px;
	line-height: 40px;

	&::before {
		position: absolute;
		top: 5px;
		left: 0;
	}
}

.footer__tel-link-vodafone::before {
	content: url('../img/vodafone.png');
}

.footer__tel-link-kyivstar::before {
	content: url('../img/kyivstar.png');
}

.footer__tel-link-lifecell::before {
	content: url('../img/lifecell.png');
}


.footer__copyright {

	a {
		font-family: 'Arial Narrow', 'Tahoma', sans-serif;
		color: inherit;
		text-transform: uppercase;
		font-size: 11px;

		img {

			animation: rotation 5s infinite;
		}
	}
}

@media (max-width: 768px) {
	.footer__wrapper {
		display: block;
		margin: 0;
	}

	.footer__column {
		max-width: 100%;
		margin: 20px 0;
	}
}
