.header-nav__container {
	max-width: 1230px;
}

.header-nav__list {
	@include ul;
	display: flex;
}

.header-nav__item {
	flex-grow: 1;

	&:last-child {
		max-width: 80px;
	}
}

.header-nav__link {
	display: block;
	position: relative;
	padding: 20px 10px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	color: inherit;
	font-weight: 700;
	transition: color .25s;

	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 1px;
		height: 13px;
		background-color: #E8EDF2;
	}

	&:hover,
	&:focus {
		box-shadow: inset 0 1px #1AB0CE;
		color: #1AB0CE;
	}
}

.header-nav__search {
	position: relative;
	width: 65px;
}

@media (max-width: 900px) {
	.header-nav__link {
		padding: 20px 5px;
		font-size: 14px;
		text-transform: capitalize;
	}
}

@media (max-width: 768px) {
	.header-nav__search {
		display: none;
	}

	.header-nav__list {
		position: fixed;
		top: -100vh;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100vh;
		display: block;
		padding-top: 40px;
		text-align: center;
		background-color: rgba(#E4E5E7, .96);
		transition: top .3s;
		z-index: 2;
	}

	.header-nav__list--active {
		top: 0;
	}

	.header-nav__link {
		padding: 10px;
		font-size: 16px;
		text-transform: uppercase;

		&:hover,
		&:focus {
			box-shadow: none;
		}
	}
}
